@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
/* @import url('https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'); */
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');


/* --------------------- Balises : Navigation --------------------- */



/* ================= ============= BALISES ============================== */

/* --------------------- Balises : Body --------------------- */

body {
  margin : auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1400px;
  font-family: 'Raleway', sans-serif; 
}

/* --------------------- Balises : Nav --------------------- */

nav {
  display : flex;
  justify-content: space-between;
  margin-top: 50px;
}

nav a {
  padding: 48px 30px 0 30px;
  color:#000000; 
}

nav a:hover,
nav a:focus {
  border-top: 2px solid #0065fc; 
  color: #0065fc; 
}

nav img {
  width : 61px ;
  height: 20px ;
}

nav ul {
  display: flex;
  margin-top: 0;
  margin-right:10px;
}

/* --------------------- Balises : Header --------------------- */

header p {
  margin-top: -6px;;
}

/* --------------------- Balises : Form --------------------- */

form input {
  margin-left: -5px;
  border: 1px solid #f2f2f2;
  border-right: none;
  padding: 13px 0 13px 10px;
  width : 240px;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: bold ;
}

form button {
  border: 1px solid #0065fc; 
  border-radius: 0 15px 15px 0;
  padding: 13px 12px;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 500;
  background-color: #0065fc; 
  color: #ffffff;
  cursor: pointer;
}

.filtres span {
  margin-left: auto;
  margin-right: auto;
}

.filtres, 
.filtres ul {
  display: flex;
  gap: 3%;
}


.filtres button {
  display: flex;
  border: 2px solid #f2f2f2; 
  border-radius: 30px;
  padding: 12px 15px;
  width: 100% ;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 600;
  background-color: #ffffff;
}

.filtres button:hover {
  background-color : #e0ecff;
}

.filtres button:focus {
  background-color: #e0ecff;
}

.filtres button {
  cursor: pointer;
}

/* --------------------- Balises : Main --------------------- */

main {
  display: flex;
  gap: 3%;
}

main div {
  font-size: 12px; 
  color: #0065fc; 
}

article {
  box-sizing: border-box;
  border-radius: 20px ;
  padding: 20px 40px 0px 40px;
  background-color: #f2f2f2; 
}

article h2 {
  font-size: 21px;
    padding-bottom: 10px;
}

article ul {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  width: 100%;
}

article li {
  border-radius: 20px ;
  padding: 4px;
  width : calc((100% - 80px) / 3);
  background-color: #ffffff; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); 
}

article figure {
  margin: 0;
  padding-bottom: 8px;
}

article figcaption {
  padding-left: 10px;
}

article h3 {
  margin-top: 0;
  padding-top: 4px;
  font-size: 15px;
  color: #000000; 
}

article li p {
  margin-top: -10px;
  font-size: 13px;
  color: #000000; 
}

article img {
  border-radius: 20px 20px 0 0 ;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.populaires header {
  display: flex;
  justify-content: space-between;
  align-items: center ;
} 

.populaires ul {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.populaires li {
  border-radius: 20px;
  padding: 4px;
  height: 132px;
  background-color: #ffffff; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); 
}

.populaires figure {
  display: flex;
  margin: 0;
}

.populaires figcaption {
  display: flex;
  flex-direction: column;
  padding: 4% 10px 0px 6%;
}

.populaires h2 {
  font-size: 21px;
  padding-bottom: 10px;
}

.populaires h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 6px;
  font-size: 16px;
  color: #000000;
}

.populaires li p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  color: #000000; 
}

.populaires img {
  border-radius: 20px 0 0 20px;
  width: 35%;
  min-width: 35%;  
  height: 130px; 
  object-fit: cover;
}

.populaires div {
  margin-top: auto;
  padding-bottom: 5px;
}
/* --------------------- Balises : Aside --------------------- */

aside ul {
  box-sizing: border-box;
}

aside h2 {
  font-size: 22px;
}

.activites figure {
  margin : 0;
  border-radius: 20px;
  padding : 0;
  width: 23vw;
  max-width: 280px;
  height: 99%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); 
}

.activites img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 87%;
  object-fit: cover;
}

.activites figcaption {
  padding: 15px 0 15px 15px;
  font-size: 15px;
  font-weight: 600;
  color: #000000; 
}

.activites li {
  padding: 0;
  margin: 0;
  border: 0;
}

/* --------------------- Balises : Footer --------------------- */

footer {
  display: flex;  
  justify-content: space-around;  
  margin-top: 50px;;
  padding-bottom: 50px;
  padding-right: 20%;
  background-color: #f2f2f2;
}

footer section {
  margin-top: 25px;
}

footer h4 {
  font-size: 17px;
}

footer ul {
  margin-top: -15px;
  padding-left: 0;
}

footer li {
  padding-top: 15px;
}

footer a {
  color: #000000; 
}

/* --------------------- Balises Spécifiques --------------------- */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  padding-top: 25px;
  font-size: 22px;
  font-weight: bolder;
}

h2 {
  padding-top: 5px;
  font-size: 17px;
}

a:link {
  text-decoration: none;
}

/* ============================== CLASSES ============================== */


/* ---------- CLASSES : Formulaire ---------- */

.fa-location-dot {
  padding : 15px;
  border: 1px solid #f2f2f2; 
  border-radius: 10px 0 0 10px; 
  background-color: #f2f2f2; 
}

i.fa-magnifying-glass {
  display: none;
}

/* ---------- CLASSES : Filtres ---------- */

.filtres {
  margin-top: 30px;
}

.filtres .animaux {
  width : 160px;
}

.fa-money-bill-wave, 
.fa-person, 
.fa-heart, 
.fa-dog {
  padding-right: 5px;
  font-size: 19px;
  color: #0065FC; 
}

/* ---------- CLASSES : paragraphe au dessus de main ---------- */

.fa-info {
  margin-right: 10px;
  border: 1px solid #d9d9d9; 
  border-radius: 50%;
  padding : 3px 8px 5px;
  font-size: 12px;
  color: #0065fc; 
}

/* ---------- CLASSES : Main (Article & Section) ---------- */

.populaires {
  border-radius: 20px;
  padding: 20px 30px 0px 30px;
  background-color: #f2f2f2; 
}

.last-star {
  color:#f2f2f2; 
}

.fa-chart-line {
  color: #0065fc; 
}

.p-hebergements {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}

/* ---------- CLASSES : Aside ---------- */

.activites {
  display: flex;
  justify-content: space-between;
}

/* ============================== MEDIA QUERIES ============================== */

/* ------------- Tablette ------------- */

@media screen and (max-width: 991px) {

  body {
    padding-left: 30px;
    padding-right: 30px;
  }

  main {
    flex-direction: column;
    gap: 30px;
  }

  article {
    width: 100%;
  }

  .populaires ul {
    flex-direction: row;
  }
   
  .populaires li {
    width: 33%;
  }

  .populaires h3 {
    font-size: 14px ;
  }

  .populaires li p {
    font-size: 12px;
  }

  .populaires img {
    width : 100px ;
  }

  .hotel-2 {
    margin-top: -25px;
  }

  .activites figure {
    width: 20vw;
    height: 80%;
  }

  .activites img {
    height: 78%;
  }
 
  .activites .caption {
    padding-top : 5px;
    padding-right: 5%;
  }
}

/* ------------- Téléphone ------------- */

@media screen and (max-width: 767px) {

  body {
    padding : 0;
  }

  main {
    flex-direction: column-reverse;
  }
  
  nav {
    display: block;
    margin-top: 0;    
  }

  nav img {
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 50px;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 25px;
    width: 50%;
  }

  nav a:hover,
  nav a:focus { 
        border-top: none;
  }

   nav li:hover,
   nav li:focus {
    border-bottom: 2px solid #0065fc; 
    padding-bottom: 25px;
    color: #0065fc;  
  }
   

  header {
    margin-left: 15px;
    margin-right: 15px;
  }

  form {
    margin-top: 30px;
    margin-left: 10%;
  }

  form button {
    display: none;
  }

  i.fa-magnifying-glass {
    display:inline-flex;
    border: 1px solid #0065fc; 
    border-radius: 0 10px 10px 0;
    padding: 13px 12px;
    font-size: 17px;
    background-color: #0065fc; 
    color: #ffffff; 
    cursor: pointer;
  }

  .filtres {
    display: block;
    margin-left: 15px;
  }

  .filtres ul {
    flex-wrap: wrap;
    gap : 15px;
  }

  .filtres li {
    width: 170px ;
  }

  .filtres button {
    font-size: 12px;
  }

  .info {
    margin-left: 25px;
    margin-right: 25px;
  }

  article {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;

  }

  article h2 {
    margin-left: 0;
  }

  article ul{
    flex-direction: column;
    margin-left: 0;
  }

  article li {
    width : 90% ;
  }

  .p-hebergements{
    display: none;
  }

  .populaires {
    border-radius : 0;
    /* width: 100%; */
  }

  .populaires h2 {
    /* margin-left: 15px; */
  }

  .populaires ul {
    
  }

  .populaires li {
    /* margin-left: 15px; */
    width : 100%;
  }
  
  aside {
    margin-left: 15px;
    margin-right: 15px;
  }

  .activites {
    flex-direction: column;
    gap : 25px;
  }  

  .activites figure {
    width: 100%;
    height: 200px;
  }

  .activites figcaption,
  .activites .caption {
    padding-top: 10px;
  }

  footer {
    flex-direction: column;
    
  }

  footer ul,
  footer h4 {
    margin-left: 30px;
  }
}