@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
/* @import url('https: //cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'); */
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

/* ============================== BALISES ============================== */

body {
  font-family: 'Raleway', sans-serif; 
  max-width: 1400px;
  margin : auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* --------------------- Balises : Navigation --------------------- */

nav {
  display : flex;
  margin-top: 50px;
  justify-content: space-between;
}

nav a {
  padding: 48px 30px 0 30px;
  color:#000000;  
}

nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

nav a:focus {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

nav img {
  width : 61px ;
  height: 20px ;
}

nav ul {
  display: flex;
  margin-top: 0;
  margin-right:10px;
}

/* --------------------- Balises : Header --------------------- */

header p {
  margin-top: -6px;;
}

/* --------------------- Balises : Form --------------------- */

form input {
  padding: 13px 0 13px 10px;
  margin-left: -5px;
  border: 1px solid #f2f2f2;
  border-right: none;
  width : 240px;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: bold ;
}

form button {
  padding: 13px 12px;
  border: 1px solid #0065fc;
  border-radius: 0 15px 15px 0;
  background-color: #0065fc;
  color : white ;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.filtres span {
  margin-left: auto;
  margin-right: auto;
}



/* --------------------- Balises : Main --------------------- */


main {
  display: flex;
  justify-content: space-between;
}

main div {
  margin-top: -8px;
  font-size: 12px; 
  color: #0065fc;
  padding-left: 10px;
}

article {
  background-color: #f2f2f2;
  border-radius: 20px ;
  padding-top: 25px;
  padding-bottom: 30px;
  width: 68%;
  margin-right: 30px;
}

section header {
  display: flex;
} 

article h2,
section header h2 {
  font-size: 21px;
  margin-left: 40px;
}

article ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 40px; 
  width: 100%;
}

article li {
  background-color: #FFFFFF;
  border-radius: 20px ;
  /* margin-bottom: 30px; */
  width : 25%; /*20% en version mobile*/
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
 }

article figure {
  margin: 0;
  padding-bottom: 8px;
}

article h3 {
  font-size: 15px;
  margin-top: 0;
  padding-top: 4px;
  color: #000000;
  padding-left: 10px;
}  

article li p {
  font-size: 13px;
  margin-top: -10px;
  color: #000000;
  padding-left: 10px;
}

article img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 20px 20px 0 0 ;
}

article div i {
  margin-right : -2px;
}

/* --------------------- Balises : Aside --------------------- */

aside h2 {
  font-size: 22px;
}

/* --------------------- Balises : Footer --------------------- */

footer {
  display: flex;  
  justify-content: space-around;  
  margin-top: 50px;;
  padding-bottom: 50px;
  padding-right: 20%;
  background-color: #f2f2f2;
}

footer section {
  margin-top: 25px;
}

footer h4 {
  font-size: 17px;
  /* margin-left: 40px;  */
}

footer ul {
  /* margin-left: 40px;  */
  margin-top: -15px;
  padding-left: 0;
}

footer li {
  padding-top: 15px;
}

footer a {
  color: #000000;
}

/* --------------------- Balises Spécifiques --------------------- */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 22px;
  font-weight: bolder;
  padding-top: 25px;
}

h2 {
  font-size: 17px;
  padding-top: 5px;
}

a:link {
  text-decoration: none;
}

/* ============================== CLASSES ============================== */

/* ---------- CLASSES : Header ---------- */



/* ---------- CLASSES : Formulaire ---------- */

.fa-location-dot {
  background-color: #f2f2f2;
  padding : 15px;
  border-radius: 10px 0 0 10px; 
  border: 1px solid #f2f2f2;
}

i.fa-magnifying-glass {
  display: none;
}

/* ---------- CLASSES : Filtres ---------- */

.filtres {
  margin-top: 30px;
}

.filtres, 
.filtres ul {
  display: flex;
  gap: 3%;
}

/* .filtres li {
  width: 100%;
} */

.filtres button {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 600;
  background-color: white;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  padding: 12px 15px;
  width: 100% ;
}

.filtres button:hover {
  background-color : hsl(216, 100%, 94%);
}

.filtres button:focus {
  background-color: hsl(216, 100%, 94%);
}

.filtres button {
  cursor: pointer;
}

.filtres .animaux {
  width : 160px;
}

.fa-money-bill-wave, 
.fa-person, 
.fa-heart, 
.fa-dog {
  color: #0065FC;
  font-size: 19px;
  padding-right: 5px;
}

/* ---------- CLASSES : paragraphe au dessus de main ---------- */

.fa-info {
  color: #0065fc;
  font-size: 12px;
  border: 1px solid #d9d9d9;
  padding : 3px 8px 5px;
  border-radius: 50%;
  margin-right: 10px;
}

/* ---------- CLASSES : Main (Article & Section) ---------- */

.populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 25px 45px 10px 0;
  /* max-width: 30%; */
}

.populaires ul {
    margin-left: 40px;
}

.populaires li {
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-bottom: 35px;
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.populaires figure {
  margin: 0;
  display: flex;
}

.populaires figcaption {
  width: 60%;
}

.populaires h3 {
  font-size: 15px;
  margin-top: 0;
  padding-top: 4px;
  color: #000000;
  padding-left: 10px;
}

.populaires li p {
  font-size: 13px;
  margin-top: -10px;
  color: #000000;
  padding-left: 10px;
}

.populaires img {
  width: 40%;
  height: 140px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.populaires div i {
  margin-top : 50px;
  margin-right: -2px;
}

.last-star {
  color:#f2f2f2;
}

.fa-chart-line {
  color: #0065fc;
  margin-top: 27px;
  margin-left: 92px;
}

.p-hebergements {
  margin-left: 40px;
  margin-top: 50px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}

/* ---------- CLASSES : Aside ---------- */

.activites {
  display: flex;
  justify-content: space-between;
}

.activites figure {
  border-radius: 20px;
  padding : 0;
  margin : 0;
  width: 280px;
  height: 99%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.activites img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 87%;
  object-fit: cover;
}

.activites figcaption {
  font-size: 15px;
  padding: 15px 0 15px 15px;
  color: #000000;
  font-weight: 600;
}

.activites li {
  padding: 0;
  margin: 0;
  border: 0;
}

/* ============================== MEDIA QUERIES ============================== */

/* ------------- Tablette ------------- */

@media screen and (max-width: 991px) {

  body {
    padding-left: 30px;
    padding-right: 30px;
  }

  main {
    flex-direction: column;
  }

  article {
    width: 100%;
  }

  article li {
    width : 25%;
  }

  .populaires {
    margin-top: 30px;
  }

  .populaires ul {
    display: flex;
    gap : 2%;
  }
   
  .populaires li {
    width: 33%;
  }

  .populaires img {
    height : 160px ;
  }

  .hotel-2 {
    margin-top: -25px;
  }

  .activites figure {
    width: 20vw;
    height: 80%;
  }

  .activites img {
    height: 78%;
  }
 
  .activites .caption {
    padding-top : 5px;
    padding-right: 23%;
  }
}

/* ------------- Téléphone ------------- */

@media screen and (max-width: 767px) {

  body {
    padding : 0;
  }

  nav {
    display: block;
    padding-bottom: 25px ;
    border-bottom: 2px solid #f2f2f2;
    margin-top: 0;
  }

  nav img {
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 50px;
  }

  nav ul {
    margin-right: 0;
  }

  nav a {
    
  }

  nav li {
    
  }

  nav a:hover {
    color: #0065fc;
    border-top: none;
    padding-bottom: 25px;
    border-bottom: 2px solid #0065fc;
  }

  header {
    margin-left: 15px;
    margin-right: 15px;
  }

  form {
    margin-top: 30px;
    margin-left: 10%;
  }

  form button {
    display: none;
  }

  i.fa-magnifying-glass {
    display:inline-flex;
    padding: 13px 12px;
    border: 1px solid #0065fc;
    border-radius: 0 10px 10px 0;
    background-color: #0065fc;
    color: white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
  }

  .filtres {
    display: block;
    margin-left: 15px;
  }

  .filtres ul {
    flex-wrap: wrap;
    gap : 15px;
  }

  .filtres li {
    width: 170px ;
  }

  .filtres button {
    font-size: 11px;
  }

  .info {
    margin-left: 25px;
    margin-right: 25px;
  }

  article {
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
  }

  article h2 {
    margin-left: 0;
  }

  article ul{
    flex-direction: column;
    margin-left: 0;
  }

  article li {
    width : 90% ;
  }

  .p-hebergements{
    display: none;
  }

  .populaires {
    border-radius : 0;
    width: 100%;
  }

  .populaires h2 {
    margin-left: 15px;
  }

  .populaires ul {
    flex-direction: column;
    margin-left: 0;
  }

  .populaires li {
    width : 90%;
    margin-left: 15px;
  }
  
  aside {
    margin-left: 15px;
    margin-right: 15px;
  }

  .activites {
    flex-direction: column;
    gap : 25px;
  }  

  .activites figure {
    width: 100%;
    height: 200px;
  }

  footer {
    flex-direction: column;
    
  }

  footer ul,
  footer h4 {
    margin-left: 30px;
  }
}